@(accounts: Seq[SocialAccount], form: Form[models.AccountForm.AccountData], postUrl: Call)(implicit request: MessagesRequestHeader)

@import models.SocialAccount
@import providers.ProviderType

@main("Accounts") {

    <h1>Accounts</h1>

    <ul>
        @for(account <- accounts) {
        <li>
            <table>
                <tr>
                    <td>@account.name</td>
                    <td>(@account.providerType.name)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        @account.providerType match {
                            case ProviderType.Twitter => {
                                <span>Bearer Token: @account.getBearerToken</span>
                            }
                            case ProviderType.Bluesky => {
                                <span>Identifier: @account.getIdentifier</span>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        @helper.form(routes.AccountController.removeAccount(account.name)) {
                            @helper.CSRF.formField
                            <button>Remove account</button>
                        }
                    </td>
                    <td>
                        @if(account.getActiveCollect.isEmpty){
                            <a href="#update_account_form_@{account.name}" id="update_account_form_@{account.name}_pop">Update account</a>
                        }else{
                            In use for the collect @{account.getActiveCollect.get.name}.
                        }
                    </td>
                </tr>
            </table>

            @if(account.getActiveCollect.isEmpty){
                <!-- popup update account -->
                <a href="#x" class="overlay" id="update_account_form_@{account.name}"></a>
                <div class="popup">
                    <h2>Update account @account.name</h2>
                    <div>
                        @helper.form(controllers.routes.AccountController.updateAccount(account.name)) {
                            @helper.CSRF.formField
                            <input id="Name" name="Name" type="hidden" value="@{account.name}">
                            @helper.select(form("Provider Type"), ProviderType.values.map(p => (p.name, p.name)))
                            <div id="twitter-fields">
                                @helper.inputText(form("Bearer Token").copy(value = Some(account.getBearerToken)))
                            </div>
                            <div id="bluesky-fields" style="display: none;">
                                @helper.inputText(form("Identifier").copy(value = Some(account.getIdentifier)))
                                @helper.inputPassword(form("Password"))
                            </div>
                            <input type="submit" value="Update account">
                        }
                        <a class="close" href="#close"></a>
                    </div>
                </div>
            }

        </li>
        }
    </ul>

    <h2>Add an account</h2>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.map { error: FormError =>
            <div>
                @error.key: @error.message
            </div>
        }
    }

    @helper.form(postUrl) {
        @helper.CSRF.formField

        @helper.inputText(form("Name"))
        
        @helper.select(form("Provider Type"), ProviderType.values.map(p => (p.name, p.name)))
        
        <div id="twitter-fields">
            @helper.inputText(form("Bearer Token"))
        </div>
        
        <div id="bluesky-fields" style="display: none;">
            @helper.inputText(form("Identifier"))
            @helper.inputPassword(form("Password"))
        </div>

        <button>Add account</button>
    }

    <script>
        $(document).ready(function() {
            function updateFields() {
                var providerType = $("#Provider_Type").val();
                if (providerType === "Twitter") {
                    $("#twitter-fields").show();
                    $("#bluesky-fields").hide();
                } else if (providerType === "Bluesky") {
                    $("#twitter-fields").hide();
                    $("#bluesky-fields").show();
                }
            }
            
            $("#Provider_Type").change(updateFields);
            updateFields();
        });
    </script>
}